<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Top Page</title>
</head>
<body>
	<header>
		<h1>TOP PAGE</h1>
	</header>
	<p sec:authorize="authenticated">ようこそ
		<span sec:authentication="principal.username">ユーザー</span>さん
	</p> 
    <main>
		<ul>
			<li sec:authorize="not authenticated"><a href="login.html" th:href="@{/login}">LOGIN</a></li>
			<li sec:authorize="authenticated"><a href="login.html" th:href="@{/login}">EXIT</a></li>
		</ul>
		
	</main>
</body>
</html>