<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>LOGIN PAGE</title>
<style>
	*,
	*::before,
	*::after {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	header {margin:10px;}
	.error {color:red;}
	.form{margin: 0px 0px 0px 5px;}
	.form__input {margin:0px 0px 10px 0px;}
	.form__action {margin:0px 0px 10px 0px;}	
</style>
</head>
<body>
	<header>
		<h2>LOGIN</h2>
	</header>
    <main>
		<p th:if="${param.error!=null}" class="error">
			ユーザー名またはパスワードが違います。	
		</p>	
		<form class="form" action="index.html" th:action="@{/login}" method="post">
			<div class="form__input">
				<label for="userId">ユーザーID：</label>
				<input type="text" id="userId" name="userId">
			</div>
			<div class="form__input">
				<label for="password">パスワード：</label>
				<input type="password" id="pass" name="password">
			</div>
			<div class="form__action">
				 <button type="submit">ログイン</button>
			</div>
		</form>
		<p class="register">
			<a href="register.html" th:href="@{/register}">会員登録</a>	
		</p>
	</main>
	<footer>
		
	</footer>
</body>
</html>