<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
<head>
<meta charset="UTF-8">
<title>Match Records</title>
<style>
	.table__wideCell--set{width: 50px;
						text-align: center;
						font-size: 18px;
						}
	.table__wideCell--property{width: 60px;
							text-align: center;
							font-size: 18px;
							}
</style>
</head>
<body>
	<header>
		<h2>試合結果一覧</h2>
	</header>
	<main>
		<p><a href="registerRecord.html" th:href="@{/registerRecord}">試合結果登録</a></p>
		<table class="table" border="1" >
			<thead>
				<tr>
					<th>日付</th>
					<th>試合名</th>
					<th>ユーザー名</th>
					<th colspan="3">試合結果</th>
					<th>対戦相手</th>
					<th>詳細</th>
				</tr>
			</thead>
			<tbody th:each="record : ${matchesRecords}">
				<tr>
					<td th:text="${record.date}">2025/8/25</td>
					<td th:text="${record.matchName}">厚木オープン1試合目</td>
					<td th:text="${record.userName}">テス男</td>
					<td class="table__wideCell--set" th:text="${record.userSet}">3</td>
					<td class="table__wideCell--set">
						<span th:each="scores : ${record.recordScores}">
							[[${scores.userScore}]]-[[${scores.rivalScore}]]
						</span>
						<br>
					</td>
					<td class="table__wideCell--set" th:text="${record.rivalSet}">0</td>					
					<td th:text="${record.rivalName}">テス子</td>
					<td class="table__wideCell--property"><a href="">詳細</a></td>
				</tr>
			</tbody>
		</table>

	</main>		
</body>
</html>